# Ignoring elixir-ls related files
.elixir_ls/

# And Exercism solution files
.exercism/

# Plus emacs temp files
*~

# Also emacs recover-session things
\#*\#

## Each exercise has its own .gitignore inherited from Exercism.
## HELP, HINTS and README files may be useful for future reference.
